node_modules/
dist/
dist2/
data/
server/build/
client/build/
.eslintcache
build/
scripts/
docs/
build
tiro-config.json
node_modules

platforms/mobile/platforms
platforms/mobile/plugins
platforms/mobile/hooks
platforms/mobile/res
platforms/mobile/www/nodejs-project/tiro/