*~
\#*\#
.\#*

node_modules/
dist/
dist2/
data/
.eslintcache
scripts/
tiro-config.json
node_modules
.log/
.DS_Store

platforms/electron/bin/*
platforms/electron/build/
platforms/electron/node-build/
platforms/electron/out
platforms/electron/out/*
platforms/electron/src/shared.helpers.build.js

platforms/npm-cli-module/node-build/

build/
server/build/
client/build/

target