/* Defaults */
:root {
		--font-family:  Source Sans Pro,Helvetica Neue,Arial,sans-serif;
		--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
		--color-main-red: #f56e6e;
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #333;

		--background-color: #fff;

		--text-color: var(--color-gray-90);
		--text-color-link: #082840;
		--text-color-link-active: #5f2b48;
		--text-color-link-visited: #17050F;

		--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
		:root {
				--color-gray-20: #1e1e1e;
				--color-gray-50: #1e1e1e;
				--color-gray-90: #1e1e1e;

				/* --text-color is assigned to --color-gray-_ above */
				--text-color-link:#f56e6e;
				--text-color-link-active: #f56e6e;
				--text-color-link-visited: #f56e6e;

				--background-color: #fff;
		}
}


/* Global stylesheet */
* {
		box-sizing: border-box;
}

a {
		text-decoration: none;
}

html,
body {
		padding: 0;
		margin: 0 auto;
		font-family: var(--font-family);
		color: var(--text-color);
		background-color: var(--background-color);
}
html {
		overflow-y: scroll;
}
body {
		max-width: 40em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
}

p:last-child {
		margin-bottom: 0;
}
p {
		line-height: 1.5;
}

li {
		line-height: 1.5;
}

a[href] {
		color: var(--text-color-link);
}
a[href]:visited {
		color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
		color: var(--text-color-link-active);
}

main {
		padding: 1rem;
}
main :first-child {
		margin-top: 0;
}

header {
		/* border-bottom: 1px dashed var(--color-gray-20); */
}
header:after {
		content: "";
		display: table;
		clear: both;
}

.links-nextprev {
		list-style: none;
		padding: 1em 0;
		display: flex;
    justify-content: space-between;
}

table {
		margin: 1em 0;
}
table td,
table th {
		padding-right: 1em;
}

pre,
code {
		font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
		margin: .5em 0;
		line-height: 1.375; /* 22px /16 */
		-moz-tab-size: var(--syntax-tab-size);
		-o-tab-size: var(--syntax-tab-size);
		tab-size: var(--syntax-tab-size);
		-webkit-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
		direction: ltr;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
}
code {
		word-break: break-all;
}

/* Header */
header {
		display: flex;
		gap: 1em .5em;
		flex-wrap: wrap;
		align-items: center;
		padding: 1em;
		position:relative;
}
/*

LIST

*/
/* TAG LIST */
.post-tags .tag:last-child .separator {
		display:none;
}
.post-tags .tag {

}
.post-tags {
		font-size: 10px;
		margin-left: 20px;
}
.post-tags-length-1 {
		display: none;
}
.tag-posts {
		display:none;
}
.home-link img {
		width: 50px;
}
.home-link {
		width: 170px;
		color: var(--color-gray-90)!important;
		display: flex;
		align-content: center;
    align-items: center;
    justify-content: space-between;

		font-size: 1em; /* 16px /16 */
		margin-right: 2em;
}
.home-link:link:not(:hover) {
		text-decoration: none;
}

/* Nav */
.nav {
		position: absolute;
		right: 0px;
		top: 30px;
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
}
.nav-item {
		display: inline-block;
		margin-left: 22px;
		font-size: 15px;
		color: var(--color-gray-90);
}
.nav-item a[href]:not(:hover) {
		text-decoration: none;
		color: var(--color-gray-90);
}
.nav a[href][aria-current="page"] {
		text-decoration: none;
}

/* Posts list */
.postlist {
		list-style: none;
		padding: 0;
		padding-left: 1.5rem;
}
.postlist-item {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		counter-increment: start-from -1;
		margin-bottom: 1em;
}
.postlist-item:before {
		display: inline-block;
		pointer-events: none;
		content: "" counter(start-from, decimal-leading-zero) ". ";
		line-height: 100%;
		text-align: right;
		margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
		font-size: 0.8125em; /* 13px /16 */
		color: var(--color-gray-90);
}
.postlist-date {
		word-spacing: -0.5px;
}
.postlist-link {
		font-size: 1.1875em; /* 19px /16 */
		font-weight: 700;
		flex-basis: calc(100% - 1.5rem);
		padding-left: .25em;
		padding-right: .5em;
		text-decoration: none;

}
.postlist-item-active .postlist-link {
		font-weight: bold;
}

/* Tags */
.post-tag {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-transform: capitalize;
		font-style: italic;
}
.postlist-item > .post-tag {
		align-self: center;
}

/* Tags list */
.post-metadata {
		display: inline-flex;
		flex-wrap: wrap;
		gap: .5em;
		list-style: none;
		padding: 0;
		margin: 0;
}
.post-metadata time {
		margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
		text-decoration: none;
		font-style: normal;
		font-size: 1em;
		margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
		color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
		text-decoration: none;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
		color: #aaa;
}

h2 + .header-anchor {
		font-size: 1.5em;
}

/* Responsive */
@media (max-width: 600px) {
		header ul.nav {
				top: 5px;
				position: relative;
				left: -15px;
		}
}
